.editor {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex: 0.8;
  }
  
  .editor__input {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border: none;
  }
  
  .editor__input--title {
    margin-bottom: 1rem;
    font-size: 1.5em;
  }
  
  .editor__input--text {
    flex-grow: 1;
    line-height: 1.5;
  }