.sidebar {
    min-width: 10rem;
    padding: 1rem;
    flex: 0.2;
    color: white;
    background-color: indigo;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.6);
  }
  
  .sidebar > * + * {
    margin-top: 0.5rem;
  }
  
  .sidebar__list {
    list-style-type: none;
  }
  
  .sidebar__list > * + * {
    margin-top: 0.5rem;
  }
  
  .sidebar__btn {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    border: none;
  }